<FilesMatch "\.limadb$">
    Require all denied
</FilesMatch>

<FilesMatch "\.htaccess$">
    Require all denied
</FilesMatch>

<FilesMatch "\.htpasswd$">
    Require all denied
</FilesMatch>

Options -Indexes

# Redirecionar páginas de erro personalizadas
ErrorDocument 404 /errors/404.html
ErrorDocument 403 /errors/404.html

# Bloquear acesso a arquivos específicos
<FilesMatch "(wp-config.php|php.ini|.htaccess|php5.ini|readme.html)">
    Require all denied
</FilesMatch>

# Definir o fuso horário do servidor
SetEnv TZ America/Sao_Paulo

# Definir o tamanho máximo para o envio de dados via POST em PHP

php_value post_max_size 4G

php_value upload_max_filesize 4G

